body,
html {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90vw;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  background: black;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.jumbotron {
  background-image: url(./images/bg\ image\ 1.jpg);
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}



.display-4,
.lead {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.display-4 {
  font-size: 300%;
  letter-spacing: 3px;
  margin-top: 20%;
  transform: translateY(-20%);
}

.lead {
  font-size: 24;
  letter-spacing: 2px;
  margin-bottom: 15%;
}

.jumbotron .down-arrow {
  position: absolute;
  top: 95%;
  left: 45%;
}

.down-arrow p {
  margin-bottom: 0;
}

/* ABOUT US */
.about-us {
  text-align: center;
  background-image: url(./images/bg\ image\ 2.png);
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
}

.about-us .container {
  position: relative;
  z-index: 1;
}

.about-us::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.about-us .container {
  padding-top: 15%;
}


.what-so-special p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
}

.the-games h3 {
  font-size: 56px;
  letter-spacing: 3px;
  text-align: center;
  padding-bottom: 30px;
}

.the-games {
  width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: unset;
}

.carousel-control-prev-icon {
  background-image: url(./images/scroll\ down.svg);
  transform: rotate(90deg);
  /* width: 100%; */
}

.carousel-control-next-icon {
  background-image: url(./images/scroll\ down.svg);
  transform: rotate(270deg);
  /* width: 100%; */
}



/* UTILITY */
.tombol {
  border-color: #FFB548;
  background-color: #FFB548;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

/* DESKTOP VIEW */
@media (min-width: 992px) {

  /* navbar desktop */
  .navbar {
    background: rgba(22, 22, 22, 0.26) !important;
  }

  .nav-link {
    font-size: 12px;
    font-weight: bold;
    margin-right: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .nav-link:hover {
    border-bottom: 3px solid #fff;
    padding-bottom: 3px;
  }

  /* jumbotron desktop */
  .jumbotron {
    margin-top: -65px;
  }

  .display-4 {
    font-size: 72px;
  }

  /* jumbotron content */
  .lead {
    margin-bottom: 5%;
  }

  .jumbotron .down-arrow {
    top: 90%;
  }

  /* aboutus desktop */
  .what-so-special p {
    text-align: left;
  }

  .the-games h3 {
    text-align: left;
  }

  .the-games {
    width: 100%;
  }

  .carousel-control-prev {
    left: -10%;
    opacity: unset;
  }

  .carousel-control-next {
    right: -10%;
    opacity: unset;
  }

  .carousel-control-next-icon {
    width: 70%;
  }

  .carousel-control-prev-icon {
    width: 70%;
  }
}








































.btn-warning {
  background-color: #FFB548;
  border-color: #FFB548;
}


.game-features {
  background-color: black;
  background-image: url(./images/bg\ image\ 3.png);
  background-size: cover;
  box-sizing: border-box;
}

.sys-req {
  background-color: black;
  background-image: url(./images/bg\ image\ 4.png);
  background-size: cover;
  box-sizing: border-box;
}